.about{
  height: 100%;
  
  .main-text 
  .heading {
  font-size: 20pt; letter-spacing: 2px;line-height:130%;
  }
 .main-text 
 .sub-heading {
  font-size: 12pt; letter-spacing: 6px;line-height:160%;
 }
  
}
