.about{
  height: 100%;
  .hero .nav li {
  font-size: 12pt;
  text-align: right;
  }
  
 .hero .nav li.active {
  font-size: 20pt;
  text-align: right;
  }
  
 .hero .nav li.active,
 .hero .nav li: hover {
  background: rgb(185, 111, 133);
  }
  
  .hero .nav li a {
  color: white;
  padding: 0;
  }
  
  .main-text 
  .heading {
  font-size: 33pt; letter-spacing: 2px;line-height:130%;
  }
  
  
 .main-text 
 .sub-heading {
  font-family: sans-serif; font-size: 12pt; letter-spacing: 6px;line-height:160%;
 }
 
}
