.about{
  height: 100%;
}


#white-background{
  background-color: rgba(250, 250, 250, 1);
  padding: 10px 15px;
  margin-top: 25px;
}


#chesspic{
  padding-bottom: 5em;
}


#title_padding{
  margin-top: 80px;
}
