.main-page{
  height: 100%;
}

h2 {
  font-size: 22pt;

}
h3 {
  font-size: 28pt;
}
h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  margin-bottom: 10pt;
  }

h4{
  font-family: "PT Serif";
  font-size: 12pt;
  letter-spacing: 2pt;
  margin-bottom: 4pt;
}

#hero-cnt {
  .hero {
    .nav {
      li {
        font-size: 14pt;
        text-align: right;
        &.active {
          font-size: 18pt;
          text-align: right;
          font-weight: bold;
        }
      }
    }
    .main-text {
      .heading {
        letter-spacing: 3pt;
        text-shadow: 1px 1px #006666;
      }
      .sub-heading {
        letter-spacing: 3pt;
        font-family: "PT Serif";
      }
    }
  }
}

#one{
  padding-top: 80px;
  padding-bottom: 100px;
  .row:not(:first-child){
    margin-top: 40px;
  }
  .black-div{
    height: 200px;
  }
}

.mngmnt-info{
  hr{
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid black;
  }
  @media(max-width: 767px){
    .text-right{
      text-align: left;
    }
  }
}
